@media only screen and (max-width: 940px) {

	.row {
		padding: 0 2%;
	}

	.home-bg {
		background-size: cover;
	}

}


@media only screen and (max-width: 768px) {

	/*Responsive Menu*/

	.header-site {
		padding: 20px 0;
	}

	.responsive-menu-btn {
		display: inline-block;
		vertical-align: middle;
	}

	.responsive-box {
		width: 100%;
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		background: #000000;
	}

	.responsive-nav-hover {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}

	.main-nav {
		width: 100%;
		padding-left: 20px;
	}

	.main-nav li {
		display: block;
		width: 100%;
		padding: 9px 0;
	}

	.main-services-link,
	.main-services-link .main-nav-link {
		display: none;
		position: fixed;
		top: -100%;
		left: 0;
		z-index: -2;
		height: 0;
	}

	.logo-box {
		display: inline-block;
		vertical-align: middle;
		width: 33.33%;
	}

	.logo-image {
		position: absolute;
		top: -47px;
		left: 50%;
		width: 100px;
		height: 117px;
		margin: 0 0 0 -50px;
	}

	.headers-contacts {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		text-align: left;
		padding: 0 0 5px 20px;
	}

	.responsive-box {
		position: fixed;
		top: -110%;
		left: 0;
		z-index: 9;
	}

	.main-nav {
		padding: 80px 0 0 20px;
	}

	.services-menu-responsive {
		overflow-y: scroll;
		overflow-x: hidden; 
		padding: 5px 0px 0px 0;
		width: 100%;
	}

	.services-menu-responsive .menu-service {
		width: 100%;
		margin: 2% 0 2% 20px;
		padding-right: 2%;
	}

	.services-menu-responsive .menu-service .service-name {
		font-size: 15px;
	}

	.responsive-phone-box {
		display: inline-block;
		vertical-align: middle;
	}


	/* Home */

	.home-bg {
		min-height: 450px;
	}

	.security-head {
		font-size: 24px;
		line-height: 26px;
	}

	.company-description {
		font-size: 18px;
		line-height: 20px;
	}

	.home-article {
		display: block;
		float: left;
		width: 100%;
	}

	.services-menu-section {
		display: block;
		float: right;
		width: 100%;
	}

	.commercial-offer {
		width: 50%;
	}

	.menu-service:nth-child(even) {
		margin: 1.5% 1.5% 1.5% 0;
	}

	.menu-service:nth-child(odd) {
		margin: 1.5% 0 1.5% 1.5%;
	}


	/*About Company*/

	.about-company-bg {
		min-height: 450px;
	}

	.about-company-description {
		width: 100%;
	}

	.commercial-offer-about-company {
		width: 100%;
		padding: 30px 0 0 0;
	}

	.commercial-offer-about-company .commercial-offer {
		margin: 0 auto;
	}

	/*Services*/

	.service-photos-box {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.type-service-photo {
		height: 300px;
	}

	.type-service-head-content {
		position: relative;
	}

	.type-service {
		width: 100%;
		padding-right: 0;
	}

	.type-service-head {
		font-size: 24px;
	}

	.type-service-description {
		font-size: 18px;
		color: #ffffff;
	}

	.services-menu-services-page {
		display: none;
	}

	/*Contacts*/

	.map-box {
		position: relative;
		width: 100%;
		min-height: 650px;
		text-align: center;
		overflow: hidden;
	}

	#map {
		display: block;
		width: 200%;
		margin: 0 0 0 -50%;
		min-height: 650px;
	}

	.contacts-head {
		font-size: 24px;
		line-height: 26px;
	}

	.contacts-tel-icon {
		display: none;
	}

	.contacts-form {
		width: 90%;
	}

	.type-service-photo {
		width: 100%;
	}



}


@media only screen and (max-width: 480px) {

	.row {
		padding: 0 6%;
	}


	/*Responsive Menu*/

	.services-menu-responsive {
		overflow-y: scroll;
		overflow-x: hidden;
		margin: 0 0 0 20px;
		padding: 5px 0px 0px 0;
		width: 100%;
	}

	.services-menu-responsive .menu-service .service-name {
		font-size: 15px;
	}

	/*Home*/

	.head-text {
		padding: 250px 0 15px 0;
	}

	.home-bg {
		background-size: 130%;
		background-position: center bottom;
	}

	.home-head {
    	margin: 30px 0 17px 0;
	}

	.commercial-offer {
		width: 100%;
	}

	.menu-service {
		width: 100%;
		margin: 3% 0;
	}

	.menu-service:nth-child(even) {
		margin: 3% 0;
	}

	.menu-service:nth-child(odd) {
		margin: 3% 0;
	}

	.service-name {
		font-size: 16px;
	}

	.security-head {
		font-size: 24px;
		line-height: 26px;
	}


	/*About Company*/

	.company-description {
		font-size: 18px;
		line-height: 20px;
	}

	.about-company-description {
		padding-right: 0;
	}

	.about-company-text {
		font-size: 19px;
		text-align: justify;
	}


	/*Contacts*/

	.map-box {
		position: relative;
		width: 100%;
		min-height: 550px;
		text-align: center;
		overflow: hidden;
	}

	#map {
		display: block;
		width: 200%;
		margin: 0 0 0 -50%;
		min-height: 550px;
	}

	.contacts-map-text {
		margin: 305px 0 80px 0;
	}

	.contacts-head {
		font-size: 20px;
		line-height: 26px;
	}


	.corporation,
	.footer-contacts,
	.web-developer,
	.email-footer,
	.web-developer-link {
		font-size: 15px;
		line-height: 15px;
		width: 100%;
		text-align: left;
	}


	.contacts {
		padding: 0 0 30px 0;
	}

	.contacts-form {
		width: 100%;
	}


}

@media only screen and (max-width: 340px) {

	.home-bg {
		background-size: 170%;
		background-position: center bottom;
	}

}