@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),  
		url('fonts/SourceSansPro-Regular.woff') format('woff'), 
		url('fonts/SourceSansPro-Regular.ttf')  format('truetype'), 
		url('fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),  
	   url('fonts/SourceSansPro-Bold.woff') format('woff'), 
	   url('fonts/SourceSansPro-Bold.ttf')  format('truetype'), 
	   url('fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),  
		url('fonts/SourceSansPro-Light.woff') format('woff'), 
		url('fonts/SourceSansPro-Light.ttf')  format('truetype'), 
		url('fonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Black';
  src: url('fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),  
	  url('fonts/SourceSansPro-Black.woff') format('woff'), 
	  url('fonts/SourceSansPro-Black.ttf')  format('truetype'), 
	  url('fonts/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #949494;
    font-size: 21px;
    font-weight: normal;

}

html,
body {
    height: 100%;
    min-width: 100%;
}

body {
	background-color: #bebebe;
}

.wrapper {
    display: table; 
    height: 100%;
    min-width: 100%;

/*-webkit-linear-gradient(top, rgba(0,0,0,"+0+") "+0+"%,rgba(0,0,0,0) "+(heightGradient/2.1)/proportional+"px,rgba(0,0,0,."+1+") "+(heightGradient/1.59)/proportional+"px,rgba(0,0,0,."+18+") "+(heightGradient/1.38)/proportional+"px,rgba(0,0,0,."+6+") "+(heightGradient/1.18)/proportional+"px,rgba(0,0,0,"+1+") "+(heightGradient/1.01)/proportional+"px,rgba(0,0,0,"+1)100%);*/


background: -webkit-linear-gradient(top, rgba(0,0,0,.0) 0%,rgba(0,0,0,.0) 390px,rgba(0,0,0,0.05) 430px,rgba(0,0,0,0.3) 510px,rgba(0,0,0,0.4) 560px,rgba(0,0,0,0.96) 640px,rgba(0,0,0,0.97) 650px,rgba(0,0,0,1) 100%);


}

.content {
    position: relative;
    display: table-row;
    height:100%;

}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 940px;
    margin: 0 auto;
}

*:focus {
    outline: none;
}

section {
    position: relative;
}

li {
	list-style: none;
}

a {
    text-decoration: none;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header-site {
	width: 100%;
	background: #000000;
	font-size: 0;
	line-height: 0;
	position: fixed;
	top: 32px;
	left: 0;
	z-index: 99;
}

.respinsive-menu-btn {
	display: none;
	width: 33.33%;
	text-align: left;
	
	/*padding: 10px 0 10px 15px;*/
}

.responsive-btn {
	cursor: pointer;
	width: 19px;
	z-index: 999;
	position: absolute;
	top: 10px;
	left: 6%;
}

.humburger-line {
	display: block;
	background: #fce109;
	width: 19px;
	height: 2px;
	margin: 4px 0;
}

.hide-scroll {
	background: #000000;
	width: 20px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.logo-box {
	display: inline-block;
	vertical-align: middle;
	width: 12%;
	position: relative;
	text-align: left;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	width: 100px;	
}

.hide-logo {
	display: none;
}

.logo-image {
	position: absolute;
	top: -47px;
	left: 0;
	width: 100px;
	height: 117px;
}


.responsive-box {
	display: inline-block;
	vertical-align: middle;
	width: 81%;
	z-index: -1;
}

.services-menu-responsive {
	height: 0;
}

.main-nav {
	display: inline-block;
	vertical-align: middle;
	width: 73%;
}

.main-nav li {
	display: inline-block;
	vertical-align: middle;
	padding: 15px 10px;
}

.main-nav-link {
	color: #fce109;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	cursor: pointer;
	
	-webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.main-nav-link:link,
.main-nav-link:visited {
	color: #fce109;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: #ffffff;
}

.headers-contacts {
	display: inline-block;
	vertical-align: middle;
	width: 27%;
	text-align: right;
}

.header-contact-tel {
	display: inline-block;
	vertical-align: middle;
	font-family: 'SourceSansPro-Black', sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 20px;

	-webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.header-contact-tel:link,
.header-contact-tel:visited {
	color: #ffffff;
}

.header-contact-tel:hover,
.header-contact-tel:active {
	color: #fce109;
}


.tel-icon {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 16px;
	margin: 0 0 0 2px;
	background-image: url(./img/sprite.png);
	background-size: 185%;
	background-repeat: no-repeat;
	background-position: 0 0px;
}

.responsive-phone-box {
	/*display: inline-block;
	vertical-align: middle;*/
	display: none;
	width: 33.33%;
	position: relative;
}

.responsive-phone {
	display: inline-block;
	vertical-align: middle;
/*	position: absolute;
	top: 13px;
	right: 6%;*/
	z-index: 999;
	position: absolute;
	top: -7px;
	right: 6%;
	width: 14px;
	height: 14px;
	margin: 0 0 0 2px;
	background-image: url(./img/phone_responsive.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0px;
}


/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/


/*---   Home Page   ---*/


.head-text {
	/*padding: 400px 0 0 0;*/
	text-align: center;
}

.security-head {
	padding: 400px 0 0 0;
	font-family: 'SourceSansPro-Black', sans-serif;
	font-size: 44px;
	line-height: 46px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
}

.company-description {
	font-size: 24px;
	line-height: 26px;
	/*color: #afafaf;*/
	color: #ffffff;
	font-weight: normal;
}


/* ----- Home ------ */

.home:before {
	content: "";
	display: block;
	width: 100%;
	height: 650px;
	position: absolute;
	top: -650px;
	left: 0;
	background: -webkit-linear-gradient(top, rgba(0,0,0,.0) 0%,rgba(0,0,0,.0) 390px,rgba(0,0,0,0.05) 430px,rgba(0,0,0,0.3) 510px,rgba(0,0,0,0.4) 560px,rgba(0,0,0,0.96) 640px,rgba(0,0,0,0.97) 650px,rgba(0,0,0,1) 100%);
	background: -moz-linear-gradient(top, rgba(0,0,0,.0) 0%,rgba(0,0,0,.0) 390px,rgba(0,0,0,0.05) 430px,rgba(0,0,0,0.3) 510px,rgba(0,0,0,0.4) 560px,rgba(0,0,0,0.96) 640px,rgba(0,0,0,0.97) 650px,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,.0) 0%,rgba(0,0,0,.0) 390px,rgba(0,0,0,0.05) 430px,rgba(0,0,0,0.3) 510px,rgba(0,0,0,0.4) 560px,rgba(0,0,0,0.96) 640px,rgba(0,0,0,0.97) 650px,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,.0) 0%,rgba(0,0,0,.0) 390px,rgba(0,0,0,0.05) 430px,rgba(0,0,0,0.3) 510px,rgba(0,0,0,0.4) 560px,rgba(0,0,0,0.96) 640px,rgba(0,0,0,0.97) 650px,rgba(0,0,0,1) 100%);
	background: linear-gradient(top, rgba(0,0,0,.0) 0%,rgba(0,0,0,.0) 390px,rgba(0,0,0,0.05) 430px,rgba(0,0,0,0.3) 510px,rgba(0,0,0,0.4) 560px,rgba(0,0,0,0.96) 640px,rgba(0,0,0,0.97) 650px,rgba(0,0,0,1) 100%);
	z-index: 2;
}

.home {
	position: r
	font-size: 0;
	line-height: 0;
	/*margin: 85px 0 0 0;*/
	/*margin: 30px 0 0 0;*/
	padding: 0 0 70px 0;
	background: #000000;
	/*box-shadow: 0px -50px 86px 70px #000000;*/
	/*box-shadow: 0px -50px 230px 50px #000000;*/
}

.home-page {
	/*padding: 640px 0 0 0;*/
}

.home-bg {
	padding: 0 0 100px 0;
	background-image: url(./img/home_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
/*	position: fixed;
	top: 0;
	left: 0;*/
	width: 100%;
	/*min-height: 650px;*/
	z-index: -1;
}

.home-article {
	float: left;
	width: 33%;
	text-align: left;
	padding: 0 20px 0 0;
}

.home-head {
	font-family: 'SourceSansPro-Black', sans-serif;
	font-size: 24px;
	line-height: 32px;
	color: #fce109;
	margin: 0 0 2.5% 0;
}

.home-text {
	font-family: 'SourceSansPro', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #949494;
	margin: 4% 0;
}

.read-more {
	margin: 0px 0 25px 0;
}

.read-more-link {
	font-size: 14px;
	line-height: 18px;
	color: #fce109;	
}

.commercial-offer {
	display: block;
	font-size: 0;
	line-height: 0;
	padding: 14px 20px;
	border: 1px solid #454545;
	background: #000000;

	-webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}

.commercial-offer:link,
.commercial-offer:visited {
	background: #000000;
}

.commercial-offer:hover,
.commercial-offer:active {
	background: #ffffff;
}

.commercial-offer-icon-box {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
}

.commercial-offer-icon {
	display: block;
	width: 30px;
	height: 40px;
	margin: 0 auto;
	background-image: url(./img/sprite.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center -141px;
}

.commercial-offer-link {
	display: inline-block;
	vertical-align: middle;
	width: 85%;
	color: #ffffff;
	font-family: 'SourceSansPro', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 0 0 0 10px;

	-webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.commercial-offer:link .commercial-offer-link,
.commercial-offer:visited .commercial-offer-link {
	color: #ffffff;
}

.commercial-offer:hover .commercial-offer-link,
.commercial-offer:active .commercial-offer-link {
	color: #000000;
}


.services-menu-section {
	float: right;
	width: 67%;
	font-size: 0;
	line-height: 0;
}

.services-head {
	font-family: 'SourceSansPro-Black', sans-serif;
	font-size: 24px;
	line-height: 32px;
	color: #fce109;
	margin: 0 0 1% 0;
}

.menu-service {
	display: inline-block;
	vertical-align: middle;
	width: 48%;
	padding-top: 14px;
	padding-bottom: 14px;
	background: #fce109;

	-webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}

.menu-service:link,
.menu-service:visited {
	background: #fce109;
}

.menu-service:hover,
.menu-service:active {
	background: #9c1006;
}

.menu-service:nth-child(even) {
	margin: 1.5% 1.5% 1.5% 0;
}

.menu-service:nth-child(odd) {
	margin: 1.5% 0 1.5% 1.5%;
}

.icon-service-box {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	padding: 0 0 0 18px;
}

.services-menu-icon {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background-image: url(./img/sprite_services_link.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.menu-service:link .services-menu-icon,
.menu-service:visited .services-menu-icon {
	background-image: url(./img/sprite_services_link.png);
}

.menu-service:hover .services-menu-icon,
.menu-service:active .services-menu-icon {
	background-image: url(./img/sprite_services_link_hover.png);
}



.sequrity-object {
	background-position: center 1px;
}

.protection-individuals {
	background-position: center -78px;
}

.installation-video-surveillance-systems {
	background-position: center -162px;
}

.video-surveillance-systems {
	background-position: center -240px;
}

.fire-alarm {
	background-position: center -313px;
}

.support-cargoes {
	background-position: center -390px;
}

.button-disturbing-alarm-system {
	background-position: center -469px;
}

.pultowa-protection {
	background-position: center -541px;
}


.service-name {
	display: inline-block;
	vertical-align: middle;
	width: 85%;
	font-family: 'SourceSansPro', sans-serif;
	color: #000000;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	padding: 0 10px 0 17px;

	-webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.menu-service:link .service-name,
.menu-service:visited .service-name {
	color: #000000;
}

.menu-service:hover .service-name,
.menu-service:active .service-name {
	color: #ffffff;
}



/* ----- About Company ------ */

.about-company {
	font-size: 0;
	line-height: 0;
	padding: 115px 0 90px 0;
	text-align: center;
}

.about-company-bg {
	background-image: url(./img/about_company.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 650px;
	z-index: -1;
}

.about-company-description {
	display: inline-block;
	vertical-align: top;
	width: 68%;
	padding: 0 17px 0 0;
}

.about-company-text {
	font-family: 'SourceSansPro', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #949494;
	padding: 2% 0;
	text-align: left;
}

.director {
	text-align: center;
	padding: 25px 0 0 0;
}

.autograph {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	text-align: right;
}

.autograph-image {
	display: inline-block;
	vertical-align: top;
	width: 85px;
	height: auto;
}

.director-name-box {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	text-align: left;
	padding: 10px 0 0 10px;
}

.director-name {
	font-family: 'SourceSansPro', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
}

.director-position {
	font-family: 'SourceSansPro', sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #949494;
}

.commercial-offer-about-company {
	display: inline-block;
	vertical-align: top;
	width: 32%;
	padding: 2% 0 0 0;
}



/* ----- Services ------ */

.services {
	font-size: 0;
	line-height: 0;
	padding: 155px 0 70px 0;
}

.type-service {
	display: inline-block;
	vertical-align: top;
	width: 68%;
	/*width: 69%;*/
	padding: 0 20px 0 0;
	text-align: center;
}

.type-service-head {
	color: #ffffff;
	font-family: 'SourceSansPro-Black', sans-serif;
	font-size: 44px;
	line-height: 47px;
	text-transform: uppercase;
	padding: 0 0 30px 0;
}

.type-service-description {
	color: #000000;
	font-size: 24px;
	line-height: 30px;
	padding: 0px 0px 50px;
}

.type-service-photo {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 300px;
	margin: 0 0 15px 0;
	background-image: url(./img/alarm_service_photo.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.type-service-desription {
	font-family: 'SourceSansPro', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #949494;
	padding: 2% 0;
	text-align: left;
}

.services-menu-services-page {
	display: inline-block;
	vertical-align: top;
	width: 32%;
	/*width: 31%;*/
}

.menu-service-services-page {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 10px 0;
	padding-top: 14px;
	padding-bottom: 14px;
	background: #fce109;

	-webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}

.menu-service-services-page:link,
.menu-service-services-page:visited {
	background: #fce109;
}

.menu-service-services-page:hover,
.menu-service-services-page:active {
	background: #9c1006;
}

.menu-service-services-page:link .services-menu-icon,
.menu-service-services-page:visited .services-menu-icon {
	background-image: url(./img/sprite_services_link.png);
}

.menu-service-services-page:hover .services-menu-icon,
.menu-service-services-page:active .services-menu-icon {
	background-image: url(./img/sprite_services_link_hover.png);
}

.menu-service-services-page:link .service-name,
.menu-service-services-page:visited .service-name {
	color: #000000;
}

.menu-service-services-page:hover .service-name,
.menu-service-services-page:active .service-name {
	color: #ffffff;
}


/* ----- Contacts ------ */

.contacts-page {
	position: relative;
	font-size: 0;
	line-height: 0;
}

.map-box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 650px;
	z-index: -1;
}

#map {
	display: block;
	width: 100%;
	min-height: 650px;
}

.contacts {
	padding: 405px 0 80px 0;
	text-align: center;
}

.contacts-head {
	display: inline-block;
	vertical-align: top;
	color: #ffffff;
	font-family: 'SourceSansPro-Black', sans-serif;
	font-size: 43px;
	line-height: 45px;
	text-transform: uppercase;
}

.contacts-tel-icon {
	display: inline-block;
	vertical-align: middle;
	width: 39px;
	height: 39px;
	margin: 0 17px 5px 0;
	background-image: url(./img/sprite.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 -80px;
}

.contacts-address {
	color: #a7a7a7;
	font-size: 24px;
	line-height: 24px;
}

.contacts-form {
	display: inline-block;
	vertical-align: top;
	width: 41%;
	padding: 120px 0 0 0;
	text-align: left;
}

.form-contacts-head {
	font-family: 'SourceSansPro-Black', sans-serif;
	color: #fce109;
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 15px 0;
}

.contacts-name,
.contacts-telnum,
.contacts-message {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 2px 0;
	color: #757575;
	font-size: 16px;
	line-height: 24px;
	background: none;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;;
	border-bottom: 1px solid #e0e0e0;
}

.contacts-message {
	min-height: 150px;
}

.send-btn {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: center;
	background: #fce109;
	color: #000000;
	font-size: 14px;
	line-height: 24px;
	padding: 5px 0;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	text-transform: uppercase;

	-webkit-transition-property: background color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.send-btn:link,
.send-btn:visited {
	color: #000000;
	background: #fce109;
}

.send-btn:hover,
.send-btn:active {
	color: #ffffff;
	background: #9c1006;
}

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

.footer-bg {
	width: 100%;
	background-color: #000000; 
}

.footer-content {
	font-size: 0;
	line-height: 0;
	padding: 10px 0;
	border-top: 1px solid #616161;
	font-family: 'SourceSansPro-Light', sans-serif;
}

.corporation {
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	text-align: left;
	/*padding: 0 20px 0 0;*/
	padding: 10px 0;
	color: #909090;
	font-size: 12px;
	line-height: 13px;
	font-weight: lighter;
}

.footer-contacts {
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	text-align: left;
	font-size: 12px;
	line-height: 13px;
	font-weight: lighter;
	padding: 10px 0;
}

.footer-adress {
	color: #909090;
}

.email-footer {
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #fce109;

	-webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.email-footer:link,
.email-footer:visited {
	color: #fce109;
}

.email-footer:hover,
.email-footer:active {
	color: #ffffff;
}

.web-developer {
	color: #909090;
	font-family: 'SourceSansPro-Light', sans-serif;
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	text-align: right;
	font-size: 12px;
	line-height: 13px;
	padding: 10px 0;
}

.web-developer-link {
	color: #909090;
	font-family: 'SourceSansPro-Light', sans-serif;
	font-size: 12px;
	line-height: 13px;

	-webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.web-developer-link:link,
.web-developer-link:visited {
	color: #909090;	
}

.web-developer-link:hover,
.web-developer-link:active {
	color: #fce109;
}